
html,
body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0 ;
}

main,
footer,
.intro,
.nav,
.about,
.social-media,
.pic{
  box-sizing: border-box;
  color: red !important;
}
a{
  text-decoration: none;
}
h1,
h2,
h3{
  font-family: 'Shrikhand', cursive;
}
p{
  font-family: 'Cutive', serif;
}
ul{
  list-style: none;
  text-align: center;
}
li{
  margin-right: 20px;
  font-family: 'Cutive', serif;
  text-transform: uppercase;
}
li:last-child{
  margin-right: 0;
}
li a{
  color: #819da0;
}

/* end global
------------------ */

.wrapper{
  width:100%;
  background: gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.intro{
  background: #66454e;
  padding: 10px 20px;

}
.intro-hold{
   margin: auto;
}
.intro h1{
  font-size: 46px;
  color: #eae4d4;
  line-height: 46px;
}

/* end intro
------------------ */

main{
  display: flex;
  flex-direction: column;
}
.nav{
  display: flex;
  justify-content: space-around;
  padding: 20px 0 40px 0px;
  background: white;
}

nav .copy{
  position: absolute;
  top: 214px;
  left: 40%;
  margin-left: -112px;
  color: #66454e;
  font-size: 14px;
  font-family: 'Shrikhand', cursive;
}
nav .copy a{
  color: #819da0;
  margin-left: 2px;
}

/* end nav
------------------ */

.about {
  background: #eae4d4;
  flex: 1;
  padding: 20px;
}
.about-hold{
  margin: auto;
}
.about h2{
  color: #66454e;
  font-size: 35px;
  margin-bottom: 5px;
}
.about p{
  color: #66454e;
  font-size: 18px;
  line-height 26px;
}

/* end about
------------------ */

footer{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.social-media{
  flex: 2;
  background: #819da0;
  padding: 20px;
}
.social-hold{
  display: flex;
  align-items: center;
}
.social-media a{
  color: #eae4d4;
}
.social-media h3{
    color: #eae4d4;
    font-size: 35px;
    margin-right: 15px;
}
.pic{
  flex: 2;
  background: url("../images/pic.png") no-repeat;
  background-size: cover;
  padding:130px 0;
}
.note{
  position: absolute;
  right: 50px;
  bottom: -111px;
  color: #eae4d4;
  border: 1px solid #eae4d4;
  border-radius: 10px;
  padding: 1px 20px;
}

/* end footer
------------------ */


@media (min-width:900px){
 .wrapper{
     flex-direction: row;
 }
 footer{
   flex-direction: row;
 }
 .intro{
   display: flex;
   padding: 0 50px;
 }
 .intro h1{
   font-size: 86px;
   color: #eae4d4;
   line-height: 86px;
   margin-top: -200px;
 }

 .about{
   flex: 1;
   display: flex;
   flex-direction: row;
   padding: 0 100px;
 }
 .social-media{
   display: flex;
   padding: 0 0 0 100px;
 }

 .nav{
  justify-content: flex-start;
    padding: 20px 0 20px 100px;
 }
 .nav li{
   margin-right: 70px;
 }
 .pic{
      padding: 0 0 0 100px;
 }
 .note {
    position: absolute;
    right: 100px;
    bottom: 40px;
  }
  nav .copy{
    position: absolute;
    top: 21px;
    right: 0;
    margin-left: 650px;
  }
}
